<div class="login-page-container">
  <!-- Logo Section -->
  <div class="logo">
    <h1><span class="dark">Motion</span><span class="bold">Mind</span></h1>
  </div>

  <!-- Login Box -->
  <div class="login-box">
    <h1>Welcome to MotionMind!</h1>
    <form (submit)="onLogin(); $event.preventDefault()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
</div>
