<div class="container">
    <!-- Sidebar -->
    <aside *ngIf="shouldShowSidebar()">
      <div class="top">
        <div class="logo">
          <h2><span class="dark">Motion</span><span class="bold">Mind</span></h2>
        </div>
        <div class="close" id="close-btn">
          <span class="material-symbols-outlined">close</span>
        </div>
      </div>
  
      <div class="sidebar">
        <a routerLink="/dashboard" routerLinkActive="active">
          <span class="material-symbols-outlined">grid_view</span>
          <h3>Dashboard</h3>
        </a>
        <a routerLink="/user-profile" routerLinkActive="active">
          <span class="material-symbols-outlined">person</span>
          <h3>Profile</h3>
        </a>
        <a routerLink="/user-progress" routerLinkActive="active">
          <span class="material-symbols-outlined">timeline</span>
          <h3>Progress</h3>
        </a>
        <a routerLink="/user-goals" routerLinkActive="active">
          <span class="material-symbols-outlined">target</span>
          <h3>Goals</h3>
        </a>
        <a routerLink="/user-reviews" routerLinkActive="active">
          <span class="material-symbols-outlined">edit_note</span>
          <h3>Reviews</h3>
        </a>
        <a routerLink="/user-photos" routerLinkActive="active">
          <span class="material-symbols-outlined">photo_camera</span>
          <h3>Photos</h3>
        </a>
        <!-- Logout Button -->
        <button (click)="logout()" class="logout-btn">
            <span class="material-symbols-outlined">logout</span>
            <h3>Logout</h3>
          </button>
      </div>
    </aside>
  
    <!-- Main Content -->
    <main>
      <router-outlet></router-outlet>
    </main>

  </div>
  